body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    background: #f5f5fa;
}

.sidebar {
    width: 220px;
    background: transparent;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
}

.sidebar .logo {
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    padding: 8px;
    background-color: aqua;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background: #1010d4;
}

.main {
    flex: 1;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
}